item-list {
  width: 100px;
}

item span {
  width: 100%;
  border: 1px solid black;
  background: rgb(109, 129, 218);
  padding: 3px;
  margin: 1px;
}

item dragzone {
  width: 100%;
  height: 5px;
  margin: 1px 0;
  border: none;
  background: yellow;
}

item-list.dragging item dragzone {
  border: 1px dotted black;
  background: yellow;
}
